@font-face {
    font-family: 'PT sans 400';
    src: url('../../../assets/fonts/ptsans-400.woff2');
}
@font-face {
    font-family: 'PT sans 700';
    src: url('../../../assets/fonts/ptsans-700.woff2');
}
h1, h2, h3, h4 {
    font-family: 'PT Sans 700', sans-serif;
}

p {
    font-family: 'PT Sans 400', sans-serif;
}
