.filter {
    background-image: url("../img/images/catalog-filter.jpg");
    height: 412px;
    padding: 35px 70px 70px 70px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.filter-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.filter h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3em;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

.filter-home-page,
.filter-hotel-link {
    text-decoration: none;
}

.filter-hotel-link {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.filter-hotel-link:hover {
    color: #FFFFFF99;
}

.filter-hotel-link:active {
    color: #FFFFFF4D;
}

/* FILTERS */
.form {
    display: flex;
}

.filter-form {
    border: none;
    margin: 0;
    padding: 0;
}

.filter-form:first-child {
    width: 150px;
    margin-right: 70px;
}

.filter-form:nth-child(2) {
    width: 151px;
    margin-right: 100px;
}

.filter-form-name{
    padding: 0 0 32px 0;
    margin: 0;
}


/* CHECKBOX, RADIO START */

.checkbox-container, .radio-container {
    display: block;
    position: relative;
    margin-bottom: 16px;
    padding-left: 36px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-real, .radio-real {
    position: absolute;
    opacity: 0;
}

.checkbox-style {
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
}


/* как лучше написать .checkbox-container:active .checkbox-real ~ .checkbox-style
или .checkbox-style:active */
.checkbox-container:focus .checkbox-real ~ .checkbox-style {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border: 1.50px solid #83B3D3;
}

.checkbox-container:active, .radio-container:active{
    opacity: 0.7;
}

.checkbox-style:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container .checkbox-real:checked ~ .checkbox-style::after {
    display: block;
}

.checkbox-container .checkbox-style::after {
    background-image: url("../img/icons/tick.svg");
    width: 12px;
    height: 10px;
    margin: 5px 0 0 5px;
}

.radio-style {
    position: absolute;
    border-radius: 50%;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
}

.radio-style:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container .radio-real:checked ~ .radio-style::after {
    display: block;
}

.radio-container .radio-style::after {
    background-image: url("../img/icons/tickCircle.svg");
    width: 10px;
    height: 10px;
    margin: 5px 0 0 5px;
}

/* CHECKBOX, RADIO END */


/* PRICE FORM START */
.filter-form legend {
    padding: 0;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.price-form {
    display: inline-block;
    justify-content: space-between;
    font-family: inherit;
    color: #5e5a594d;
    margin: 0;
    background-color: #F2F2F2;
    padding: 12px 20px;
    height: 48px;
    margin-bottom: 36px;
}

.price-form-field {
    border: none;
    color: #000000;
    font-family: inherit;
    background-color: #F2F2F2;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    outline: 0;
    outline-offset: 0;
}

.price-form:hover, .price-form:active,
.price-form-field:hover, .price-form-field:active {
    background-color: #E6E6E6;
}

.price-form:focus {
    border: 3px solid #83B3D3;
    background-color: #E6E6E6;
}

.price-form-one {
    border-radius: 4px 0 0 4px;
    margin-right: 2px;
}

.price-form-two {
    border-radius: 0 4px 4px 0;
}


.filter-form:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    margin-right: 70px;
}


.slider {
    display: flex;
    margin: 0;
    width: 287px;
    height: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

/* PRICE FORM END */


.filter-buttons {
    display: block;
    margin-top: 56px;
}

.apply,
.reset {
    font-family: inherit;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.reset {
    padding: 8px 57px;
    color: #FFFFFF;
}

.reset:hover {
    color: #ffffff8D;
}

.reset:focus {
    border: 3px solid #83B3D3;
    border-radius: 4px;
}

.reset:active {
    color: #FFFFFF4D;
}

.apply {
    padding: 8px 50px;
    margin-bottom: 32px;
    background: #82B3D3;
    border-radius: 4px;
}

/* CATALOG CONTENT */

.catalog {
    padding: 0 70px;
}

.catalog-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1060px;
    height: 49px;
    margin-bottom: 40px;
}

.catalog-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.catalog h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2em;
    margin: 0;
    margin-right: 200px;
}


/* rewrite */
.select-control {
    font-family: inherit;
    width: 292px;
    height: 49px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    cursor: pointer;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    background-image: url("../img/icons/filterArrow.svg");
    background-repeat: no-repeat;
    background-size: 12px 7px;
    background-position: center right 20px;
}
/* rewrite */

.layout-list,
.hotels-list,
.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.layout-list {
    margin: 0;
    padding: 0;
    padding-left: 70px;
    align-items: center;
    gap: 8px;
}

.layout {
    background: none;
    padding: 14px 14px;
    cursor: pointer;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.current-layout,
.layout:hover,
.layout:active {
    border-color: #000000;
}

.layout:focus {
    border-color: #68A2CA;
}

.hotels-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 20px;
    margin-bottom: 40px;
}

.hotel-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 140px 20px 140px;
    grid-template-columns: repeat(2, 140px);
    -ms-grid-rows: minmax(256px, -webkit-min-content)
    16px 21px 16px minmax(36px, -webkit-min-content) 16px 37px;
    -ms-grid-rows: minmax(256px, min-content) 16px 21px 16px minmax(36px, min-content) 16px 37px;
    grid-template-rows: minmax(256px, min-content) 21px minmax(36px, min-content) 37px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 16px;
    padding: 19px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}
.hotel-item > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}.hotel-item > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}.hotel-item > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}.hotel-item > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}.hotel-item > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}.hotel-item > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}.hotel-item > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}.hotel-item > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
}


.hotel-about {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
}

.hotel-item a {
    font-family: inherit;
    text-decoration: none;
}

.hotel-item img {
    object-fit: cover;
    margin-bottom: 16px;
}

.hotel-item-h3 {
    margin: 0;
    color: #000;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.hotel-about:hover {
    -webkit-transition: -webkit-transform ease-in-out 0.3s;
    transition: -webkit-transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
}

.hotel-about:active, .hotel-item-h3:active {
    opacity: 0.6;
}

.price-name,
.price-value {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.price-value {
    -ms-grid-column-align: end;
    justify-self: end;
}


.button-more,
.button-favorite,
.button-favorite-choose {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
}

.button-more {
    padding: 8px 26px;
    background-color: #756157;
}

.button-favorite {
    border: none;
    padding: 8px 15px;
    background-color: #82B3D3;
}

.button-favorite-choose {
    border: none;
    padding: 8px 14px;
    background-color: #7DB54F;
    transition: background-color 0.3s;
}

.button-favorite-choose:hover,
.button-favorite-choose:focus {
    background-color: #6C9E42;
    cursor: pointer;
}

.button-favorite-choose:active {
    background-color: #7DB54F;
    color: #FFFFFF4D;
}

.rank {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    background: #F2F2F2;
    border-radius: 4px;
    padding: 9px 22px 8px;
    margin: 0;
}

.light-line {
    border: 1px solid #E6E6E6;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-bottom: 40px;
}

.pagination {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}

.pagination-link {
    display: block;
    width: 60px;
    height: 60px;
    padding: 12px 0;
    background-color: #82B3D3;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    margin-right: 8px;
    cursor: pointer;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
    text-decoration: none;
    color: #FFFFFF;
}

.pagination-current {
    background-color: #F2F2F2;
}

.pagination-current,
.pagination-etc {
    color: #000;
}

.pagination-etc {
    background-color: #FFFFFF;
}

.subscribe {
    width: 1200px;
    height: 414.86px;
}

.subscribe-h2 {
    color: #000;
}

.subscribe p {
    color: #333;
}
