* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

/* here ara header, footer, subscribe section */

/* header */
@font-face {
    font-family: 'PT sans';
    font-weight: 400;
    src: url('../fonts/ptsans-400.woff2') format("woff2");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PT sans';
    font-weight: 700;
    src: url('../fonts/ptsans-700.woff2') format("woff2");
    font-style: normal;
    font-display: swap;
}

/* visually-hidden for different browsers, don't delete properties */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0 auto;
    min-height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2em;
    color: #333333;
    background-color: #F2F2F2;
    width: 1200px;
}

.main {
    flex-grow: 1;
}

.page-container{
    background-color: #FFFFFF;
}

/* HEADER */

.main-header {
    align-content: center;
    padding: 0 70px;
    height: 64px;
}

.all-navigation {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.navigation, .nav-buttons {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ul.navigation {
    margin-right: 284px;
}

.navigation-link {
    display: block;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2em;
    color: #000;
    padding: 20px 0;
}

.navigation-item {
    padding: 0 16px;
}

.logo {
    margin-right: 30px;
    padding: 0;
}

.current-link a{
    border-bottom: 2px solid #756257;
}

.navigation-link:hover {
    border-bottom: 2px solid #756257;
}

.nav-buttons {
    display: flex;
    align-items: center;
    width: 268px;
    height: 64px;
}
.search-button, .like-button {
    padding: 21px 12px;
    border: #FFFFFF;
    background-color: #FFFFFF;
    cursor: pointer;
}

.like-button {
    margin-right: 20px;
}

.search-button:hover, .like-button:hover{
    opacity: 0.7;
}

.search-button:active, .like-button:active {
    opacity: 0.5;
}

.brown-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
    width: 160px;
    height: 36px;
    border-radius: 4px;
    border: none;
    background-color: #756157;
    cursor: pointer;
}

.brown-button:focus, .brown-button:hover {
    background-color: #615048;
}

.brown-button:active {
    color: #FFFFFF4D;
}

.brown-button:disabled {
    background: #E5E5E5;
}

/* SUBSCRIBE section */

.subscribe {
    width: 684px;
    height: 215px;
    padding: 96px 258px 104px;
}
.subscribe-h2 {
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2em;
}

.subscribe p {
    margin: 0 auto 54px;
    color:#FFFFFF;
    text-align: center;
    font-weight: 400;
}

.subscribe-form {
    display: flex;
}

.subscribe-email {
    background-color: #F2F2F2;
    border-radius: 4px 0 0 4px;
    width: 452px;
    height: 50px;
    border: none;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.button-subscribe {
    background-color: #82B3D3;
    border-radius: 0 4px 4px 0;
    border: none;
    width: 232px;
    height: 50px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 2em;
    color:#FFFFFF;
}

.button-subscribe:hover {
    background-color: #68A2CA;
    cursor: pointer;
}

.button-subscribe:active {
    color: #FFFFFF4D;
    background-color: #82B3D3;
    cursor: pointer;
}

/* FOOTER */

.footer {
    display: flex;
}

.footer-container {
    display: flex;
    width: 1060px;
    height: 50px;
    margin: 40px 70px 30px;
}

.social-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 5px 0;
    margin-right: 237px;
    align-items: center;
}

.social-item {
    padding: 12px 12px;
}

path:hover {
    fill: #68A2CA;
}

path:active {
    fill: #68A2CA4D;
}

.phone a{
    text-decoration: none;
    font-style: normal;
    color:#000;
    font-weight: 400;
    font-size: 40px;
    line-height: 1em;
    width: 331px;
    height: 40px;
}

.phone {
    text-align: center;
    width: 331px;
    height: 40px;
    margin-right: 235px;
}

.phone a:hover {
    color: #756157;
}

.phone a:active {
    color: #7561574D;
}

a.htmlacademy-logo {
    margin: 9px 0;
}

.htmlacademy-logo:hover {
    fill: #756157;
}
