.hero {
    background: url("../img/images/main-page-background.jpg");
    padding-top: 51px;
}

.welcome-img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
}

.divider {
    display: flex;
    flex-wrap: wrap;
}

.about-sedona {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    padding: 69px 0 90px 0;
}

.about-sedona h2, .about-sedona p {
    padding: 0;
    margin: 0;
}

.about-sedona h2 {
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.advantages {
    display: grid;
}

.advantage-item {
    width: 400px;
    height: 385px;
    text-align: center;
}

.advantage-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
